[submodule "zencoding-vim"]
	path = zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule "tabular"]
	path = tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim-abolish"]
	path = vim-abolish
	url = git://github.com/tpope/vim-abolish.git
